In [28]:
## Simple API call to NOAA

import requests
import json
from pandas.io.json import json_normalize


url = 'https://tidesandcurrents.noaa.gov/api/datagetter?'

params = {
    'begin_date':'20130101 10:00',
    'end_date':'20130201 10:24',
    'station':'8454000',
    'product':'currents',
     #'datum':'mllw',
    'units':'metric',
    'time_zone':'gmt',
    'application':'web_services',
    'format':'json'    
}

resp = requests.get(url=url, params=params)
print(resp.json())

{'error': {'message': ' Wrong Station ID: Please submit a valid station ID '}}

In [24]:
try:
    pd_metadata = json_normalize(resp.json()['metadata'])
    pd_metadata.columns = ['Station ID', 'Latitude', 'Longitude', 'Location']
    pd_data = json_normalize(resp.json()['data'])
    
except KeyError:
    print(resp.json()['error'])
    print('Error in the api input')

Error in the api input

In [20]:
pd_metadata

  Station ID Latitude Longitude    Location
0    8454000  41.8071  -71.4012  Providence

In [21]:
pd_data

            f  q      s                 t       v
0     0,0,0,0  v  0.003  2013-01-01 10:00   0.072
1     0,0,0,0  v  0.003  2013-01-01 10:06   0.095
2     0,0,0,0  v  0.003  2013-01-01 10:12   0.115
3     0,0,0,0  v  0.004  2013-01-01 10:18   0.138
4     0,0,0,0  v  0.004  2013-01-01 10:24   0.167
5     0,0,0,0  v  0.004  2013-01-01 10:30   0.193
6     0,0,0,0  v  0.003  2013-01-01 10:36   0.217
7     0,0,0,0  v  0.005  2013-01-01 10:42   0.244
8     0,0,0,0  v  0.006  2013-01-01 10:48   0.277
9     0,0,0,0  v  0.007  2013-01-01 10:54   0.316
10    0,0,0,0  v  0.005  2013-01-01 11:00   0.345
11    0,0,0,0  v  0.005  2013-01-01 11:06   0.379
12    0,0,0,0  v  0.004  2013-01-01 11:12   0.406
13    0,0,0,0  v  0.003  2013-01-01 11:18   0.432
14    0,0,0,0  v  0.003  2013-01-01 11:24   0.452
15    0,0,0,0  v  0.005  2013-01-01 11:30   0.479
16    0,0,0,0  v  0.006  2013-01-01 11:36   0.514
17    0,0,0,0  v  0.005  2013-01-01 11:42   0.553
18    0,0,0,0  v  0.004  2013-01-01 11:48   0.585
19    0,0,0,0  v  0.004  2013-01-01 11:54   0.611
20    0,0,0,0  v  0.003  2013-01-01 12:00   0.632
21    0,0,0,0  v  0.002  2013-01-01 12:06   0.649
22    0,0,0,0  v  0.003  2013-01-01 12:12   0.666
23    0,0,0,0  v  0.004  2013-01-01 12:18   0.686
24    0,0,0,0  v  0.004  2013-01-01 12:24   0.711
25    0,0,0,0  v  0.006  2013-01-01 12:30   0.745
26    0,0,0,0  v  0.005  2013-01-01 12:36   0.782
27    0,0,0,0  v  0.003  2013-01-01 12:42   0.807
28    0,0,0,0  v  0.001  2013-01-01 12:48   0.817
29    0,0,0,0  v  0.001  2013-01-01 12:54   0.814
...       ... ..    ...               ...     ...
7415  0,0,0,0  v  0.005  2013-02-01 07:30   0.115
7416  0,0,0,0  v  0.004  2013-02-01 07:36   0.081
7417  0,0,0,0  v  0.003  2013-02-01 07:42   0.054
7418  0,0,0,0  v  0.005  2013-02-01 07:48   0.028
7419  0,0,0,0  v  0.006  2013-02-01 07:54  -0.006
7420  0,0,0,0  v  0.008  2013-02-01 08:00  -0.056
7421  0,0,0,0  v  0.006  2013-02-01 08:06  -0.104
7422  0,0,0,0  v  0.004  2013-02-01 08:12  -0.140
7423  0,0,0,0  v  0.003  2013-02-01 08:18  -0.161
7424  0,0,0,0  v  0.002  2013-02-01 08:24  -0.175
7425  0,0,0,0  v  0.001  2013-02-01 08:30  -0.184
7426  0,0,0,0  v  0.001  2013-02-01 08:36  -0.187
7427  0,0,0,0  v  0.002  2013-02-01 08:42  -0.197
7428  0,0,0,0  v  0.005  2013-02-01 08:48  -0.221
7429  0,0,0,0  v  0.005  2013-02-01 08:54  -0.256
7430  0,0,0,0  v  0.003  2013-02-01 09:00  -0.283
7431  0,0,0,0  v  0.002  2013-02-01 09:06  -0.299
7432  0,0,0,0  v  0.002  2013-02-01 09:12  -0.311
7433  0,0,0,0  v  0.002  2013-02-01 09:18  -0.325
7434  0,0,0,0  v  0.001  2013-02-01 09:24  -0.330
7435  0,0,0,0  v  0.002  2013-02-01 09:30  -0.324
7436  0,0,0,0  v  0.002  2013-02-01 09:36  -0.311
7437  0,0,0,0  v  0.002  2013-02-01 09:42  -0.301
7438  0,0,0,0  v  0.002  2013-02-01 09:48  -0.293
7439  0,0,0,0  v  0.002  2013-02-01 09:54  -0.279
7440  0,0,0,0  v  0.003  2013-02-01 10:00  -0.260
7441  0,0,0,0  v  0.003  2013-02-01 10:06  -0.240
7442  0,0,0,0  v  0.003  2013-02-01 10:12  -0.219
7443  0,0,0,0  v  0.005  2013-02-01 10:18  -0.192
7444  0,0,0,0  v  0.006  2013-02-01 10:24  -0.158

[7445 rows x 5 columns]