In [1]:
import requests
import json
from pandas.io.json import json_normalize
import pandas as pd

with open('token.json') as token_file:
    header = json.load(token_file)

In [36]:
pd_stations = pd.read_json('station_info.json')
pd_stations

                                          ID                        dates
ABBOTSMEADOW,NJ                      8537774  Aug 22, 1978 - Jan 05, 1979
ABSECON,ABSECONCREEK,NJ              8534540  May 19, 1977 - Dec 12, 1978
ABSECONCHANNAL,NJ                    8534638  May 19, 1977 - Nov 09, 1978
ADAMSKEY,FL                          8723453  Jun 24, 1974 - Oct 23, 1987
ADAMSPOINT,DURHAM,NH                 8422272  Jun 25, 1975 - Sep 03, 1975
ADDISONBAY,FL                        8724992  Apr 27, 1978 - Nov 16, 1978
AGNESCOVE,AK                         9455120  Aug 15, 2001 - Sep 20, 2001
AGUCHIKISLAND,KUKAKBAY,AK            9456901  May 23, 2000 - Jun 26, 2000
AIALIKBAY,NORTHEND,AK                9455145  Jun 29, 2000 - Aug 26, 2000
AIALIKSILL,AIALIKBAY,AK              9455146  Jun 29, 2000 - Nov 11, 2000
AIRYHALL,ASHEPOORIVER,SC             8666749  Apr 22, 1981 - Nov 09, 1981
ALAFIARIVERNORTH,FL                  8726614  Dec 09, 1976 - May 02, 1977
ALAMEDACREEK,SANFRANCISCOBAY,CA      9414632  Nov 30, 1976 - Apr 14, 1977
ALAMEDANAS,NAVYFUELPIER,CA           9414767  Jul 29, 1994 - Sep 08, 1994
ALBANY,HUDSONRIVER,NY                8518995  Oct 02, 1981 - Jul 25, 1987
ALLANTON,EASTBAY,FL                  8729015  Jan 13, 1976 - Oct 29, 1991
ALLAQUAYBAYOU,FL                     8729364  Jun 22, 1977 - Dec 27, 1977
ALLENHURST,HAULOVERCANAL,FL          8721374  Feb 11, 1966 - May 21, 1983
ALLIANCE,MISSISSIPPIRIVER,LA         8761727  May 15, 1996 - Jan 19, 1999
ALLIGATORBAYOU,PANAMACITY,FL         8729152  Mar 21, 1956 - Oct 31, 1991
ALLIGATORHARBOR,FL                   8728255  Mar 18, 1976 - Sep 22, 1976
ALLIGATORPOINT,FL                    8728288  Jun 15, 1975 - Dec 03, 1975
ALLIGATORPOINT,SWCAPE,FL             8728261  Dec 01, 1976 - Oct 18, 1977
ALLIGATORPOINT,WESTBAY,TX            8771801                    - present
ALLIGATORREEFLIGHTHOUSE,FL           8723861  Dec 02, 1970 - Dec 10, 1971
ALLSTONCREEK,MURRELLSINLET,SC        8661608  Sep 20, 1974 - May 16, 1975
ALLYN,WA                             9446281  Mar 30, 1977 - Apr 06, 1978
ALPINE,HUDSONRIVER,NJ                8530095  Feb 11, 1976 - May 16, 1977
ALTOONA,COLUMBIARIVER,WA             9440571  May 11, 1981 - Dec 07, 1981
AMELIACITY,SOUTHAMELIARIVER,FL       8720086  Oct 31, 1973 - Apr 17, 1979
...                                      ...                          ...
WilletsPoint,NY                      8516990  Jul 11, 1931 - Nov 14, 2000
WilliamsburgBridge,NY                8518699  May 19, 1999 - Nov 14, 2000
Wilmington,NC                        8658120       Jan 01, 1908 - present
WindmillPoint,MI                     9044049       Jun 01, 1897 - present
WindmillPoint,VA                     8636580       Jun 24, 1970 - present
Wiscasset,ME                         8416921                    - present
WoodedIsland,AK                      9454562  Jul 30, 2003 - Oct 04, 2003
WoodsHole,MA                         8447930       Jul 16, 1932 - present
WorldsFairMarina,NY                  8517251  Apr 13, 2014 - Aug 12, 2014
Wrangell,AK                          9451204  Oct 10, 1882 - May 16, 2001
WrightsvilleBeach,NC                 8658163       Apr 27, 2004 - present
Wyandotte,MI                         9044030       May 01, 1930 - present
YALEBOATHOUSE,THAMESRIVER,CT         8461467  Jun 15, 1989 - Nov 01, 1989
YAMATO,FL                            8722784  Mar 28, 1973 - May 08, 1973
YANKEETOWN,WITHLACOOCHEERIVER,FL     8727411  May 24, 1978 - Jan 17, 1979
YAQUINAUSCGSTA,NEWPORT,OR            9435385  Oct 25, 1982 - Dec 07, 1982
YARBROUGHPASS,TX                     8776687  Mar 13, 1990 - Feb 24, 1996
YAUHANNAHBRIDGE,PEEDEERIVER,SC       8661093  Oct 15, 1981 - Apr 05, 1983
YEAMANSHALL,GOOSECREEK,SC            8664541  Aug 30, 1978 - Feb 05, 1980
YERBABUENAISLAND,SANFRANCISCOBAY,CA  9414782  Jan 12, 1977 - Sep 21, 1993
YOKEKOPOINT,WA                       9448601  Nov 10, 1973 - Apr 12, 1976
YOMANPOINT,ANDERSONISLAND,WA         9446705  Feb 23, 1978 - Nov 13, 1996
YONGESISLAND,WADMALAWRIVER,SC        8666217  Apr 28, 1977 - Jun 14, 1978
YOUNGBAY,AK                          9452249  Mar 19, 1997 - May 15, 1997
YabucoaHarbor,PR                     9754228       Apr 10, 1974 - present
Yakutat,YakutatBay,AK                9453220       Apr 24, 1940 - present
YorkSpitLight,VA                     8637722  Feb 13, 2004 - Sep 02, 2002
YorktownUSCGTrainingCenter,VA        8637689       Jan 22, 2004 - present
ZEKESISLAND,CAPEFEARRIVER,NC         8658741  Jan 23, 1976 - Jun 10, 1976
ZaikofPoint,AK                       9454411  May 17, 1978 - Oct 14, 1999

[2605 rows x 2 columns]

In [58]:
import re
from time import strptime
import datetime

def datesToInt(date):
    if date == 'present':
        date_string = time.strftime("%x")
        now = datetime.datetime.now()
        return now.year, now.month, now.day
    date_list = re.findall(r"[\w']+", date)
    day = int(date_list[1])
    year = int(date_list[2])
    month = int(strptime(date_list[0],'%b').tm_mon)
    
    return year, month, day

In [52]:
i = 0
for index, row in pd_stations.iterrows():
    print(index)
    print(row)
    i += 1
    if i > 20:
        break

ABBOTSMEADOW,NJ
ID                           8537774
dates    Aug 22, 1978 - Jan 05, 1979
Name: ABBOTSMEADOW,NJ, dtype: object
ABSECON,ABSECONCREEK,NJ
ID                           8534540
dates    May 19, 1977 - Dec 12, 1978
Name: ABSECON,ABSECONCREEK,NJ, dtype: object
ABSECONCHANNAL,NJ
ID                           8534638
dates    May 19, 1977 - Nov 09, 1978
Name: ABSECONCHANNAL,NJ, dtype: object
ADAMSKEY,FL
ID                           8723453
dates    Jun 24, 1974 - Oct 23, 1987
Name: ADAMSKEY,FL, dtype: object
ADAMSPOINT,DURHAM,NH
ID                           8422272
dates    Jun 25, 1975 - Sep 03, 1975
Name: ADAMSPOINT,DURHAM,NH, dtype: object
ADDISONBAY,FL
ID                           8724992
dates    Apr 27, 1978 - Nov 16, 1978
Name: ADDISONBAY,FL, dtype: object
AGNESCOVE,AK
ID                           9455120
dates    Aug 15, 2001 - Sep 20, 2001
Name: AGNESCOVE,AK, dtype: object
AGUCHIKISLAND,KUKAKBAY,AK
ID                           9456901
dates    May 23, 2000 - Jun 26, 2000
Name: AGUCHIKISLAND,KUKAKBAY,AK, dtype: object
AIALIKBAY,NORTHEND,AK
ID                           9455145
dates    Jun 29, 2000 - Aug 26, 2000
Name: AIALIKBAY,NORTHEND,AK, dtype: object
AIALIKSILL,AIALIKBAY,AK
ID                           9455146
dates    Jun 29, 2000 - Nov 11, 2000
Name: AIALIKSILL,AIALIKBAY,AK, dtype: object
AIRYHALL,ASHEPOORIVER,SC
ID                           8666749
dates    Apr 22, 1981 - Nov 09, 1981
Name: AIRYHALL,ASHEPOORIVER,SC, dtype: object
ALAFIARIVERNORTH,FL
ID                           8726614
dates    Dec 09, 1976 - May 02, 1977
Name: ALAFIARIVERNORTH,FL, dtype: object
ALAMEDACREEK,SANFRANCISCOBAY,CA
ID                           9414632
dates    Nov 30, 1976 - Apr 14, 1977
Name: ALAMEDACREEK,SANFRANCISCOBAY,CA, dtype: object
ALAMEDANAS,NAVYFUELPIER,CA
ID                           9414767
dates    Jul 29, 1994 - Sep 08, 1994
Name: ALAMEDANAS,NAVYFUELPIER,CA, dtype: object
ALBANY,HUDSONRIVER,NY
ID                           8518995
dates    Oct 02, 1981 - Jul 25, 1987
Name: ALBANY,HUDSONRIVER,NY, dtype: object
ALLANTON,EASTBAY,FL
ID                           8729015
dates    Jan 13, 1976 - Oct 29, 1991
Name: ALLANTON,EASTBAY,FL, dtype: object
ALLAQUAYBAYOU,FL
ID                           8729364
dates    Jun 22, 1977 - Dec 27, 1977
Name: ALLAQUAYBAYOU,FL, dtype: object
ALLENHURST,HAULOVERCANAL,FL
ID                           8721374
dates    Feb 11, 1966 - May 21, 1983
Name: ALLENHURST,HAULOVERCANAL,FL, dtype: object
ALLIANCE,MISSISSIPPIRIVER,LA
ID                           8761727
dates    May 15, 1996 - Jan 19, 1999
Name: ALLIANCE,MISSISSIPPIRIVER,LA, dtype: object
ALLIGATORBAYOU,PANAMACITY,FL
ID                           8729152
dates    Mar 21, 1956 - Oct 31, 1991
Name: ALLIGATORBAYOU,PANAMACITY,FL, dtype: object
ALLIGATORHARBOR,FL
ID                           8728255
dates    Mar 18, 1976 - Sep 22, 1976
Name: ALLIGATORHARBOR,FL, dtype: object

In [37]:
import datetime
now = datetime.datetime.now()
type(now.year)

int

In [74]:

def retrieveLifetimeData(pandas_thing):
    date_range_string = pandas_thing['dates']
    station_id = pandas_thing['ID']

    dates = date_range_string.split('-')
    assert dates[0] != ''
    year, month, day = datesToInt(dates[0])

    end_year, end_month, end_day = datesToInt(dates[1])
    this_is_silly = end_year*10000+end_month*100+end_day
#     pd_metadata = json_normalize(resp.json()['metadata'])
#     pd_metadata.columns = ['Station ID', 'Latitude', 'Longitude', 'Location']
#     pd_data = json_normalize(resp.json()['data'])
    first_loop = True
    while 1:
        end_loop = False
        if year*10000+(month+1)*100+end_day < this_is_silly:
            url = 'https://tidesandcurrents.noaa.gov/api/datagetter?'
            params = {
                'begin_date': '{:02d}/{:02d}/{}'.format(month, day, year),
                'end_date':'{:02d}/{:02d}/{}'.format(month+1, day, year),
                'station':station_id,
                'product':'water_level',
                'datum':'mllw',
                'units':'metric',
                'time_zone':'gmt',
                'application':'web_services',
                'format':'json'    
            }
        else:
            url = 'https://tidesandcurrents.noaa.gov/api/datagetter?'
            params = {
                'begin_date': '{:02d}/{:02d}/{}'.format(month, day, year),
                'end_date':'{:02d}/{:02d}/{}'.format(end_month, end_day, end_year),
                'station':station_id,
                'product':'water_level',
                'datum':'mllw',
                'units':'metric',
                'time_zone':'gmt',
                'application':'web_services',
                'format':'json'    
            }            
            end_loop = True
        resp = requests.get(url=url, params=params)
        if first_loop:
            try:
                metadata_dict = resp.json()['metadata']
                pd_data = pd.DataFrame(resp.json()['data'])
            except KeyError:
                print(resp.json()['error'])
                return None, None
            
        pd_data.append(resp.json()['data'])
        
        month += 1
        if end_loop:
            return metadata_dict, pd_data

In [75]:
for index, row in pd_stations.iterrows():
    pd_metadata, pd_data = retrieveLifetimeData(row)
    if pd_metadata is not None:
        break
pd_data

{'message': ' Wrong Datum: No valid datum value for MLLW ***station=8537774'}
{'message': 'No data was found. This product may not be offered at this station at the requested time.'}
{'message': ' Wrong Datum: No valid datum value for MLLW ***station=8534638'}
{'message': 'No data was found. This product may not be offered at this station at the requested time.'}
{'message': ' Wrong Datum: No valid datum value for MLLW ***station=8422272'}
{'message': 'No data was found. This product may not be offered at this station at the requested time.'}
{'message': ' Range Limit Exceeded: The size limit for data retrieval for this product is 31 days '}
{'message': ' Range Limit Exceeded: The size limit for data retrieval for this product is 31 days '}
{'id': '9455145', 'lat': '59.9533', 'name': 'AIALIK BAY, NORTH END', 'lon': '-149.7150'}

AttributeError: 'NoneType' object has no attribute 'append'

In [30]:
try:
    pd_metadata = json_normalize(resp.json()['metadata'])
    pd_metadata.columns = ['Station ID', 'Latitude', 'Longitude', 'Location']
    pd_data = json_normalize(resp.json()['data'])
    
except KeyError:
    print(resp.json()['error'])

In [31]:
# API for Climate Data

url = 'http://www.ncdc.noaa.gov/cdo-web/api/v2/datatypes?datacategoryid=HYDROMETEOR'

resp = requests.get(url=url, headers=header)

try:
    pd_metadata = json_normalize(resp.json()['metadata'])
#     pd_metadata.columns = ['Station ID', 'Latitude', 'Longitude', 'Location']
    pd_results = json_normalize(resp.json()['results'])
    
except KeyError:
    print(resp.json()['error'])
    print('Error in the api input')

In [32]:
url = 'http://www.ncdc.noaa.gov/cdo-web/api/v2/datacategories?limit=41'
resp = requests.get(url=url, headers=header)

try:
    pd_metadata = json_normalize(resp.json()['metadata'])
    # pd_metadata.columns = ['Station ID', 'Latitude', 'Longitude', 'Location']
    pd_results = json_normalize(resp.json()['results'])
    
except KeyError:
    print(resp.json()['error'])
    print('Error in the api input')